/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'TT Norms Pro', sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between elements */
    align-items: center;
    background: 
        linear-gradient(94.48deg, #D862A4 0%, #CC1D9A 25.4%, #016DB4 74.86%, #00B5E0 100%),
        url('../img/background.jfif') no-repeat center center/cover;
    background-blend-mode: multiply;
    color: white;
    padding: 10px; /* Reduce padding */
    position: relative; /* Ensure relative positioning for overlay */
}

.header {
    margin-top: 20px; /* Reduce top margin */
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    max-width: 154px;
}

.content {
    flex-grow: 1;
    max-width: 558px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 40px; /* Adjust gap */
    position: relative;
}

.titledesc {
    gap: 24px; /* Adjust gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titledesc .title h1 {
    font-size: 32px; /* Reduce title font size */
    font-weight: 600;
    line-height: 40px;
    color: #FFFFFF;
    max-width: 485px;
}

.titledesc .description p {
    font-size: 14px; /* Reduce description font size */
    font-weight: 450;
    line-height: 18px;
    color: #E9E9E9;
    max-width: 494px;
}

.titledesc .description a {
    color: #E9E9E9;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #FFFFFF;
}

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.download-buttons img {
    max-width: 120px;
    height: 40px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

.download-buttons img:hover {
    transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .logo {
        max-width: 180px;
    }

    .titledesc {
        gap: 20px; /* Adjust gap */
    }

    .titledesc .description p {
        font-size: 14px;
    }

    .download-buttons img {
        max-width: 130px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin: 0 auto;
        padding: 0 20px;
    }

    .titledesc .description p {
        font-size: 12px; /* Reduce font size */
    }

    .download-buttons img {
        max-width: 120px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        margin-top: 10px; /* Further reduce top margin */
    }

    .titledesc .title h1 {
        font-size: 24px; /* Further reduce title font size */
        line-height: 30px;
    }

    .titledesc .description{
        max-width: 270px;
    }
    .titledesc .description p {
        font-size: 12px; /* Further reduce font size */
    }

    .download-buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 0px;
    }

    .download-buttons img {
        max-width: 120px;
    }
}

footer {
    font-size: 10px; /* Smaller footer text */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px; /* Reduce gap between footer links */
    line-height: 14px; /* Adjust line height */
}

footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: underline;
}
